* {
    padding: 0;
    margin: 0;
    font-family: 'Amiri', serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 104, 104);
}

::selection {
    color: #68ffeb;
    background-color: rgba(0, 0, 0, 0.459);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a915ff;
    border-radius: 2px;
}

.navbar {
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    position: fixed;
    z-index: 100;
    transition: .3s linear;
}

.stick {
    background-color: rgba(255, 255, 255, 0.89);
    padding: 18px;
    transition: .3s linear;
}

.stick .set_width .logo {
    color: #000;
}

.stick .navbar_menu a{
    color: #000;
}

.stick .navbar_menu a:hover {
    color: rgba(0, 0, 0, 0.726);
}

.navbar .logo {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.alert_success {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 167, 70);
    border: 2px solid rgb(1, 68, 1);
    display: none;
    width: 40%;
    padding: 10px;
}

.alert_success.active {
    display: block;
}

.set_width {
    max-width: 1300px;
    margin: auto;
    padding: 0 30px;
}

.navbar .set_width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 100;
    display: none;
}

.menu_toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    position: relative;
    transition: .3s linear;
}

.navbar_menu a {
    color: rgb(109, 210, 202);
    font-size: 20px;
    margin-left: 30px;
    transition: .3s linear;
}

.navbar_menu a:hover {
    color: rgb(255, 255, 255);
}

#home {
    background-color: rgb(104, 104, 104);
}

.square {
    margin-top: 250px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: -60px;
}

.post {
    width: 33%;
    margin: 10px 0;
    background-color: transparent;
    text-align: center;
}

.post img:hover {
    box-shadow: 2px 2px 5px #fff;
}

.post .post_content {
    padding: 30px;
    background-color: rgb(35, 29, 28);
    margin: 0 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transform: translateY(-30px) translateX(-10px);
    transition: .2s linear;
    border: 2px solid black;
    margin: 10px;
}

.post .post_content a {
    color: #fff;
    transition: .3s linear;
}

.post_content:hover {
    box-shadow: 1px 2px 2px rgb(75, 213, 255);
}

.post_content {
    display: flex;
}

.post_content i {
    font-size: 35px;
    margin: 50px 20px;
}

.post_content i::after {
    transform: rotate(45deg);
    border: solid 2px rgba(0, 140, 255, 0.75);
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    position: relative;
    top: -50px;
}

.post_simple_text {
    width: 100%;
    font-style: italic;
    padding: 10px;
    color: rgb(176, 223, 255);
}

.post .post_content:hover {
    transform: translateY(-35px);
}

.bar1 {
    width: 100%;
    top: 0;
    position: absolute;
    height: 160px;
    background:
        linear-gradient(to top right, transparent 40.5%,rgb(0, 0, 0) 41%) bottom left, 
        linear-gradient(to top left,  transparent 40.5%,rgb(99, 3, 3) 99%) bottom left, 
        linear-gradient(to top left,  transparent 40.5%,rgb(0, 0, 0) 41%) bottom left ,#001aff00;
}

.bar2 {
    width: 100%;
    position: absolute;
    height: 230px;
    top: 0;
    background:
        linear-gradient(to top right, transparent 70.5%,rgb(0, 0, 0) 71%) bottom right,
        linear-gradient(to top left,  transparent 50.5%,rgb(0, 0, 0) 51%) bottom left ,#001aff00;
}

/* Post Details */

.square2 {
    margin-top: 170px;
}

.post_header {
    height: 150px;
    top: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: .3s linear;
}

.cube {
    background-color: #e8fcff60;
    height: 30px;
    width: 300px;
    margin: auto;
    top: -32px;
    position: relative;
    box-shadow: 1px 1px 1px black;
}

.post_header h2:hover {
    color: #f8e6dc;
    text-shadow: 1px 1px 2px #313131;
}

.bar {
    background-color: #dffeff;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    transform: rotate(.5deg);
    box-shadow: 2px 2px 2px black;
}

.post_body {
    font-size: 22px;
    margin: 30px;
    padding: 40px;
    background:
        linear-gradient(to bottom left ,transparent 50.5%,rgb(177, 250, 250) 100%) bottom left,
        linear-gradient(to top right, transparent 50.5%,rgba(202, 203, 255, 0.712) 100%) bottom left rgb(255, 255, 255);
    background-repeat:no-repeat;
}

.comments_list {
    font-size: 19px;
    color: rgb(224, 223, 223);
}

.send_comment_button {
    width: 70px;
    margin: 10px;
}

.leave_comment {
    margin: 30px;
    color: rgb(224, 223, 223);
}

.leave_comment input {
    font-size: 15px;
}

.unique_comments {
    border: 2px solid rgb(77, 219, 255);
    width: 75%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(9, 44, 42);
    box-shadow: 2px 2px 2px #000;
}

.unique_comments h5 {
    color: rgb(225, 198, 255);
    font-size: 24px;
}

.unique_comments p {
    margin: 20px;
}

.h2_comments {
    color: rgb(224, 223, 223);
    transition: .3s linear;
}

.h2_comments:hover {
    color: #d6f9ff;
}

/* End Post Details*/

#pagination {
    margin: 80px;
    display: block;
}

.pagination {
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    width: 400px;
}

.pagination li {
    display: inline;
}

.pagination a {
    color: rgb(255, 255, 255);
    margin-left: 5px;
    transition: .3s linear;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 10px;
}

.pagination a:hover {
    color: rgb(210, 109, 109);
}

.navbar_menu .red {
    color: rgb(204, 176, 255);
}

.table {
    color: #fff;
}

.table textarea {
    font-size: 15px;
}

footer {
    margin-top: 100px;
    background-color: #fff;
    margin-bottom: -10px;
    padding: 30px;
}

#foot .content_foot {
    margin: 10px;
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#foot .content_foot p {
    color: #000;
    font-size: 20px;
}


@media screen and (max-width: 980px) {
    .post {
        width: 50%;
    }

    .menu_toggler {
        display: block;
    }
    
    .navbar_menu {
        position: absolute;
        background-color: #000;
        width: 300px;
        height: 300px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        right: 200%;
        display: flex;
        flex-direction: column;
    }
    
    .navbar .logo {
        font-size: 33px;
    }

    .navbar_menu a {
        position: relative;
        font-size: 20px;
        margin-top: 20px;
        left: -35px;
    }

    .navbar_menu.active {
        right: 0;
        height: 350px;
    }

    .stick .navbar_menu {
        background-color: #fff;
    }

    .stick .menu_toggler span {
        background-color: #000;
    }

    .menu_toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 7px;
    }

    .menu_toggler.active span:nth-child(2) {
        display: none;
    }

    .menu_toggler.active span:nth-child(3) {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 670px) {
    .alert_success {
        width: 50%;
    }

    .post {
        width: 100%;
    }

    .post .post_content {
        height: 100%;
    }

    .set_width {
        position: relative;
        max-width: 100%;
    }

    .post_body {
        width: 100%;
        position: relative;
        right: 35px;
    }

    .unique_comments {
        width: 100%;
    }

    .leave_comment {
        position: relative;
        right: 50px;
        width: 100%;
    }

    .table {
        width: 100%;
    }

    .table input {
        width: 100% !important;
    }

    .table textarea {
        width: 100%;
    }

    .table tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .cube {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .img_detail {
        display: none;
    }

    .bar {
        display: none;
    }

    .leave_comment {
        display: none;
    }
}