<!DOCTYPE html>
<head>
    {% include 'partials/_head.html' %}
    {% block title %}{% endblock %}
</head>
<body>
    {% include 'partials/_nav.html' %}
    <section id="home">
        <div class="set_width">
            <div class="square">
                <section class="posts">
                   {% block content %}{% endblock %}
                </section>
            </div>
            {% include 'partials/_pagination.html' %}
        </div>
    </section>
    {% include 'partials/_footer.html' %}
</body>
</html>